body {
  background-color: slategray;
}

/* Div flex centered*/

.container > div {
  position: relative;
}

/* Buttons */

.btn-bw,
.btn-fw {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: whitesmoke;
}


.btn-fw {
  right: 0;
}

.btn-bw:hover,
.btn-fw:hover {
  color: slategray;
}

/* IMG */

img {
  border-radius: 50%;
}

/* Shots */

.shots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.shots > span {
  padding: 0 11px;
  cursor: pointer;
}

/* VueJs Shots classes */

.active {
  background-color: seashell;
}

.disable {
  background-color: slategrey;
}
