body {
  background-color: slategray;
}

.container > div {
  position: relative;
}

.btn-bw,
.btn-fw {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-fw {
  right: 0;
}

img {
  border-radius: 25%;
}

.shots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.shots > span {
  padding: 0 10px;
}

/* VueJs Shots */

.active {
  background-color: seashell;
}

.disable {
  background-color: rgb(214, 13, 13);
}
