body {
  background-color: slategray;
}

.container > div {
  position: relative;
}

.btn-bw,
.btn-fw {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-fw {
    right: 0;
}

img {
  border-radius: 25%;
}
